.calendar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  font-size: 16px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.calendar.week {
  width: 410px;
  position: relative;
}
.calendar > div,
.calendar span {
  width: 50px;
  text-align: center;
  border-top: #eee solid 1px;
  color: #000;
}
.calendar > div.history,
.calendar span.history {
  width: 400px;
  text-align: center;
}
.calendar > div.history > p,
.calendar span.history > p,
.calendar > div.history div,
.calendar span.history div {
  display: inline-block;
}
.calendar > div.history .side,
.calendar span.history .side {
  width: 50px;
}
.calendar > div.history .cen,
.calendar span.history .cen {
  width: 200px;
  position: relative;
}
.calendar > div.history .cen .show-month,
.calendar span.history .cen .show-month {
  color: red;
  background-color: #fff;
  position: absolute;
  border: 1px solid red;
  top: 20px;
  left: 50%;
  width: 100px;
  text-align: center;
}
.calendar > div.history .cen .show-month span,
.calendar span.history .cen .show-month span {
  float: left;
}
.calendar > div.history .cen .show-month span:hover,
.calendar span.history .cen .show-month span:hover {
  background-color: #D8EDFF;
}
.calendar > div.history .cen .bind,
.calendar span.history .cen .bind {
  float: left;
  width: 100px;
  margin: 0px auto;
  line-height: 8px;
}
.calendar > div.history .cen .show-year,
.calendar span.history .cen .show-year {
  background-color: #fff;
  position: absolute;
  border: 1px solid red;
  top: 20px;
  left: -26%;
  width: 200px;
  text-align: center;
}
.calendar > div.history .cen .show-year > .year,
.calendar span.history .cen .show-year > .year {
  width: 150px;
}
.calendar > div.history .cen .show-year p,
.calendar span.history .cen .show-year p {
  float: left;
  margin: 8px 5px;
}
.calendar > div.history .cen .show-year p:last-child,
.calendar span.history .cen .show-year p:last-child {
  float: right;
}
.calendar > div.history .cen .show-year span,
.calendar span.history .cen .show-year span {
  float: left;
}
.calendar > div.history .cen .show-year p:hover,
.calendar span.history .cen .show-year p:hover,
.calendar > div.history .cen .show-year span:hover,
.calendar span.history .cen .show-year span:hover {
  background-color: #D8EDFF;
}
.calendar > div.history-view,
.calendar span.history-view {
  width: 400px;
  border: 1px solid #333333;
  height: 120px;
  position: absolute;
  background-color: #31B4E1;
  color: #000;
  top: 38px;
  text-align: center;
}
.calendar > div.history-view .history-year,
.calendar span.history-view .history-year {
  color: #000;
  width: 75px;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.calendar > div.week-head,
.calendar span.week-head {
  background-color: #31b4e1;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
}
.calendar > div.day-head,
.calendar span.day-head {
  background-color: #31b4e1;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
}
.calendar > div.week-item,
.calendar span.week-item {
  height: 50px;
  line-height: 50px;
}
.calendar > div.week-item.non,
.calendar span.week-item.non {
  color: #ddd;
}
.calendar > div.week-item.current,
.calendar span.week-item.current {
  color: #333;
}
.calendar > div.day-item,
.calendar span.day-item {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.calendar > div.day-item > div,
.calendar span.day-item > div {
  border-radius: 50%;
}
.calendar > div.day-item.non,
.calendar span.day-item.non {
  color: #ddd;
}
.calendar > div.day-item.current,
.calendar span.day-item.current {
  color: #333;
}
.calendar > div.day-item:hover > div,
.calendar span.day-item:hover > div {
  line-height: 35px;
  height: 35px;
  width: 35px;
  background-color: #D8EDFF;
}
.calendar > div.day-item.active > div,
.calendar span.day-item.active > div {
  line-height: 40px !important;
  height: 40px !important;
  width: 40px !important;
  background-color: #31b4e1 !important;
}
.calendar > span {
  background-image: url("../image/date-join.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.calendar > span.head:first-of-type {
  background-size: 50% 100%;
  background-position: 100% 0;
}
.calendar > span.head:first-of-type > div {
  line-height: 35px;
  height: 35px;
  width: 35px;
  background-color: #D8EDFF;
}
.calendar > span.head:last-of-type {
  background-size: 50% 100%;
  background-position: 0 0;
}
.calendar > span.head:last-of-type:first-of-type {
  background-image: none;
}
.calendar > span.head:last-of-type > div {
  line-height: 35px;
  height: 35px;
  width: 35px;
  background-color: #D8EDFF;
}
.multi {
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}
.multi .timeSelect {
  width: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.multi .timeSelect .timepicker {
  height: 21.33333333px;
  font-size: 20px;
  width: 80px;
}
.multi .record {
  height: 50px;
  width: 256px;
  line-height: 60px;
  text-align: center;
  margin-left: 28px;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
}
